<nav class="bg-yellow-500 p-4 flex justify-between items-center shadow-md">
  <div class="flex items-center">
    <%= link_to root_path, class: "text-3xl font-bold text-red-600", style: "font-family: 'PokemonSolid', sans-serif;" do %>
      PokeQuiz
    <% end %>
  </div>
  <div class="flex items-center space-x-4">
    <%= link_to 'API', api_players_path, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full', target: '_blank' %>
    <button data-action="click->audio#toggle" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" id="music-toggle">
      Music On
    </button>
  </div>
</nav>
