<nav class="bg-yellow-500 p-4 flex justify-between items-center shadow-md">
  <div class="flex items-center">
    <h1 class="text-3xl font-bold text-red-600" style="font-family: 'PokemonSolid', sans-serif;">PokeQuiz</h1>
  </div>
  <div>
    <button data-action="click->audio#toggle" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">
      <svg id="sound-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19V6l-6 6h4v7h2zm10 0a7.993 7.993 0 0 0 2-5.5 7.993 7.993 0 0 0-2-5.5M19 10l-2 2m0 0l-2 2m2-2l2-2m-2 2l-2 2" />
      </svg>
    </button>
  </div>
</nav>
